<div>
  <nav>
      
    <div class="topnav">
      <img class="logo"
        src="https://images-platform.99static.com/RKPIgGKzXlNiM6uGnjcySiZgiIE=/382x320:1498x1436/500x500/top/smart/99designs-contests-attachments/130/130010/attachment_130010675"
        alt="logo"
      />
      <a routerLink="employees" routerLinkActive="active">Employee</a>
      <a href="#Plan">Plan</a>
      <a href="#Grant">Grant</a>
      <a href="#Allocation">Allocation</a>
      <a href="#Exercise">Exercise</a>
      <a href="#Vested_Option">Vested-Option</a>
      <a href="#Lock_In">Lock-In</a>
      <form>
        <input type="text" placeholder="Search..." />
        <button type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>

<div>
  <router-outlet></router-outlet>
</div>